.card-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
}

.field-form-simulation {
    width: 90%;
    display: grid;
}

.button-form-simulation {
    text-align: right;

}
